[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "thirdparty/SDLImage"]
	path = thirdparty/SDLImage
	url = https://github.com/libsdl-org/SDL_image.git
